.scoresContainer {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreCard {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px;
  min-width: 25vw;
  max-width: 25vw;
  text-align: center;
}