.waitingRoom {
  border: whitesmoke solid;
  border-radius: 8%;
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border: solid red;
  .homeButton {
    margin: 10px;
  }
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  h1 {
    margin: auto;
    color: whitesmoke;
  }
}

.waitingContent {
  border: burlywood solid;
  margin-top: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.waitingLeft {
  border: solid yellow;
  width: 63%;
}
.waitingRight {
  border: solid rgb(98, 0, 255);
  width: 37%;
}